extends layout
block content
  if !data
    ul#myTab.nav.nav-tabs(role='tablist')
      li.nav-item
        a#goc-tab.nav-link.active(data-toggle='tab' href='#goc' role='tab' aria-controls='goc' aria-selected='true') Ảnh gốc
      li.nav-item
        a#xam-tab.nav-link.disabled(data-toggle='tab' href='#xamhoa' role='tab' aria-controls='xamhoa' aria-selected='false') Xám hóa
      li.nav-item
        a#nhiphan-tab.nav-link.disabled(data-toggle='tab' href='#nhiphan' role='tab' aria-controls='nhiphan' aria-selected='false') Nhị phân
      li.nav-item
        a#lamtron-tab.nav-link.disabled(data-toggle='tab' href='#lamtron' role='tab' aria-controls='lamtron' aria-selected='false') Làm trơn
      li.nav-item
        a#bien-tab.nav-link.disabled(data-toggle='tab' href='#tachbien' role='tab' aria-controls='tachbien' aria-selected='false') Tách biên
      li.nav-item
        a#hsv-tab.nav-link.disabled(data-toggle='tab' href='#hsv' role='tab' aria-controls='hsv' aria-selected='false') Tách vật thể màu
      li.nav-item
        a#catanh-tab.nav-link.disabled(data-toggle='tab' href='#catanh' role='tab' aria-controls='catanh' aria-selected='false') Cắt ảnh
      li.nav-item
        a#xoayanh-tab.nav-link.disabled(data-toggle='tab' href='#xoayanh' role='tab' aria-controls='xoayanh' aria-selected='false') Xoay ảnh
      li.nav-item
        a#detect-tab.nav-link.disabled(data-toggle='tab' href='#detect' role='tab' aria-controls='detect' aria-selected='false') Detection Face
    #myTabContent.tab-content
      #goc.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab') 
        form(action='/' method='post' enctype="multipart/form-data")
          label(for='fname') Upload your image:
          br
          input#fname(type='file' name='fname')
          br
          br
          input(type='submit' value='Upload' name="btn")
  else
    ul#myTab.nav.nav-tabs(role='tablist')
      li.nav-item
        a#goc-tab.nav-link.active(data-toggle='tab' href='#goc' role='tab' aria-controls='goc' aria-selected='true') Ảnh gốc
      li.nav-item
        a#xam-tab.nav-link.path(data-toggle='tab' href='#xamhoa' role='tab' aria-controls='xamhoa' aria-selected='false') Xám hóa
      li.nav-item
        a#nhiphan-tab.nav-link(data-toggle='tab' href='#nhiphan' role='tab' aria-controls='nhiphan' aria-selected='false') Nhị phân
      li.nav-item
        a#lamtron-tab.nav-link(data-toggle='tab' href='#lamtron' role='tab' aria-controls='lamtron' aria-selected='false') Làm trơn
      li.nav-item
        a#bien-tab.nav-link(data-toggle='tab' href='#tachbien' role='tab' aria-controls='tachbien' aria-selected='false') Tách biên
      li.nav-item
        a#hsv-tab.nav-link(data-toggle='tab' href='#hsv' role='tab' aria-controls='hsv' aria-selected='false') Tách vật thể màu
      li.nav-item
        a#catanh-tab.nav-link(data-toggle='tab' href='#catanh' role='tab' aria-controls='catanh' aria-selected='false') Cắt ảnh
      li.nav-item
        a#xoayanh-tab.nav-link(data-toggle='tab' href='#xoayanh' role='tab' aria-controls='xoayanh' aria-selected='false') Xoay ảnh
      li.nav-item
        a#detect-tab.nav-link(data-toggle='tab' href='#detect' role='tab' aria-controls='detect' aria-selected='false') Detection Face
    #myTabContent.tab-content
      #goc.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='home-tab') 
        form(action='/' method='post' enctype="multipart/form-data")
          img(src = '#{path}')
          br
          br
          label(for='fname') Upload your image:
          br
          input#fname(type='file' name='fname')
          br
          br
          input(type='submit' value='Upload' name="btn")
      #xamhoa.tab-pane.fade(role='tabpanel' aria-labelledby='profile-tab')
        img(src = '#{xam}')
        a(href='#{xam}' download)
          button.btn.btn-outline-primary(type='button') Download!!
      #nhiphan.tab-pane.fade(role='tabpanel' aria-labelledby='profile-tab')
        form(action='/' method='post')
          label(for="tachnguong") Nhập ngưỡng tách
          input#myRange.form-control-range(type='range' min='0' max='255' style='width: 50%;' name="tachnguong")
          p#rangeOutput
        

          input(type='submit' name="nguong" value="Tách ngưỡng")
          input(type="hidden" name="var" value='#{path}')
        if nhiphan
          img(src = '#{nhiphan}')
          a(href='#{nhiphan}' download)
            button.btn.btn-outline-primary(type='button') Download!!

        script.
          var slider = document.getElementById("myRange");
          var rangeOutput = document.getElementById("rangeOutput");
          rangeOutput.innerHTML = slider.value; // Display the default slider value
          // Update the current slider value (each time you drag the slider handle)
          slider.oninput = function() {
            rangeOutput.innerHTML = this.value;
          }

      #lamtron.tab-pane.fade(role='tabpanel' aria-labelledby='contact-tab')
        form#formLoc(action='/' method='post')
          input(type="hidden" name="var" value='#{path}')
          .form-check
            label.form-check-label(for='radio1')
              input#radio1.form-check-input(type='radio' name='optradio' value='1' checked='')
              | Lọc Gauss
          .form-check
            label.form-check-label(for='radio2')
              input#radio2.form-check-input(type='radio' name='optradio' value='2')
              | Lọc trung bình
          .form-check
            label.form-check-label
              input#radio3.form-check-input(type='radio' name="optradio" value='3')
              | Lọc trung vị
          label#size.form-label(for='Ksize' style="display: none") Kích thước cửa sổ
          label#width.form-label(for='Ksize') Chiều rộng cửa sổ
          br
          input#Kwidth.form-range(type='range' min='1' max='255' value=3 step='2' name="width" style="width: 50%;")
          p#KwidthOutput
          
          label#height.form-label(for='Ksize' name="height") Chiều cao cửa sổ
          br
          input#Kheight.form-range(type='range' min='1' max='255' value=3 step='2' name="height" style="width: 50%;")
          p#KheightOutput

          label#SigmaXLabel.form-label(for='SigmaX') SigmaX
          br
          input#SigmaX.form-range(type='range' min='1' max='255' value=3 step='1' name="SigmaX" style="width: 50%;")
          p#SigmaXOutput
          label#SigmaYLabel.form-label(for='SigmaY') SigmaY
          br
          input#SigmaY.form-range(type='range' min='1' max='255' value=3 step='1' name="SigmaY" style="width: 50%;")
          p#SigmaYOutput
          script.
            var formm = document.getElementById("formLoc");

            formm.addEventListener('change', function (e) {
                let target = e.target;
                let message;
                switch (target.id) {
                    case 'radio1':
                        message = 'Nhập chiều rộng cửa sổ';
                        var kheight = document.getElementById('Kheight');
                        kheight.style.display = "block";
                        var height = document.getElementById('height');
                        height.style.display = "block";
                        var Houtput = document.getElementById("KheightOutput");
                        Houtput.style.display = "block";
                        
                        var SigmaXLabel = document.getElementById('SigmaXLabel');
                        SigmaXLabel.style.display = "block";
                        var SigmaX = document.getElementById('SigmaX');
                        SigmaX.style.display = "block";
                        var SigmaXOutput = document.getElementById("SigmaXOutput");
                        SigmaXOutput.style.display = "block";
                        var SigmaYLabel = document.getElementById('SigmaYLabel');
                        SigmaYLabel.style.display = "block";
                        var SigmaY = document.getElementById('SigmaY');
                        SigmaY.style.display = "block";
                        var SigmaYOutput = document.getElementById("SigmaYOutput");
                        SigmaYOutput.style.display = "block";

                        var size = document.getElementById('size');
                        size.style.display = "none";

                        break;
                    case 'radio2':
                        message = 'Nhập chiều rộng cửa sổ';
                        var kheight = document.getElementById('Kheight');
                        kheight.style.display = "block";

                        var height = document.getElementById('height');
                        height.style.display = "block";
                        var Houtput = document.getElementById("KheightOutput");
                        Houtput.style.display = "block";

                        var SigmaXLabel = document.getElementById('SigmaXLabel');
                        SigmaXLabel.style.display = "none";
                        var SigmaX = document.getElementById('SigmaX');
                        SigmaX.style.display = "none";
                        var SigmaXOutput = document.getElementById("SigmaXOutput");
                        SigmaXOutput.style.display = "none";
                        var SigmaYLabel = document.getElementById('SigmaYLabel');
                        SigmaYLabel.style.display = "none";
                        var SigmaY = document.getElementById('SigmaY');
                        SigmaY.style.display = "none";
                        var SigmaYOutput = document.getElementById("SigmaYOutput");
                        SigmaYOutput.style.display = "none";

                        var size = document.getElementById('size');
                        size.style.display = "none";
                        break;
                    case 'radio3':
                        message = 'Kích thước cửa sổ';
                        var kheight = document.getElementById('Kheight');
                        kheight.style.display = "none";

                        var height = document.getElementById('height');
                        height.style.display = "none";
                        var Houtput = document.getElementById("KheightOutput");
                        Houtput.style.display = "none";

                        var SigmaXLabel = document.getElementById('SigmaXLabel');
                        SigmaXLabel.style.display = "none";
                        var SigmaX = document.getElementById('SigmaX');
                        SigmaX.style.display = "none";
                        var SigmaXOutput = document.getElementById("SigmaXOutput");
                        SigmaXOutput.style.display = "none";
                        var SigmaYLabel = document.getElementById('SigmaYLabel');
                        SigmaYLabel.style.display = "none";
                        var SigmaY = document.getElementById('SigmaY');
                        SigmaY.style.display = "none";
                        var SigmaYOutput = document.getElementById("SigmaYOutput");
                        SigmaYOutput.style.display = "none";

                        var size = document.getElementById('size');
                        size.style.display = "block";
                        break;
                }
            });

            var kwidth = document.getElementById("Kwidth");
            var Kheight = document.getElementById("Kheight");
            
            var SigmaX = document.getElementById("SigmaX");
            var SigmaY = document.getElementById("SigmaY");

            var output = document.getElementById("KwidthOutput");
            var Houtput = document.getElementById("KheightOutput");

            var SigmaXOutput = document.getElementById("SigmaXOutput");
            var SigmaYOutput = document.getElementById("SigmaYOutput");

            output.innerHTML = kwidth.value; // Display the default slider value
            Houtput.innerHTML = Kheight.value; // Display the default slider value
            SigmaXOutput.innerHTML = SigmaX.value;
            SigmaYOutput.innerHTML = SigmaY.value;

            // Update the current slider value (each time you drag the slider handle)
            kwidth.oninput = function() {
              output.innerHTML = this.value;
            }
            Kheight.oninput = function() {
              Houtput.innerHTML = this.value;
            }
            SigmaX.oninput = function() {
              SigmaXOutput.innerHTML = this.value;
            }
            SigmaY.oninput = function() {
              SigmaYOutput.innerHTML = this.value;
            }

          button.btn.btn-primary(type='submit') Submit
        if tron
          img(src="#{tron}", alt="")
          a(href='#{tron}' download)
            button.btn.btn-outline-primary(type='button') Download!!
      #tachbien.tab-pane.fade(role='tabpanel' aria-labelledby='contact-tab')
        img(src="#{bien}", alt="")
        a(href='#{bien}' download)
          button.btn.btn-outline-primary(type='button') Download!!
      #hsv.tab-pane.fade(role='tabpanel' aria-labelledby='contact-tab')
        form(action='/' method='post')
          input(type='submit' name="hsv" value="Tách vật thể màu")
          input(type="hidden" name="var" value='#{path}')
          //- input(type="hidden" name="xoayPath" value='#{xoay}')
          br
          label(for="H") Hệ số của R
          input#H(type='text' name='H')
          br
          label(for="S") Hệ số của G
          input#S(type='text' name='S')
          br
          label(for="V") Hệ số của B
          input#V(type='text' name='V')
          br
          br
          input#color(type='color' value='#ff0000' style='width:25%;')
          br
          br
          p Ảnh gốc
          img(src="#{path}", alt="anhgoc")
          
          script.
            let colorInput = document.getElementById('color');
            colorInput.addEventListener('input', () =>{
              let colorValue = colorInput.value;
              const r = parseInt(colorValue.substr(1,2), 16)
              const g = parseInt(colorValue.substr(3,2), 16)
              const b = parseInt(colorValue.substr(5,2), 16)
              document.getElementById('H').value = r;
              document.getElementById('S').value = g;
              document.getElementById('V').value = b;
            });

        if hsv
          br
          br
          p Ảnh tách màu
          
          img(src='#{hsv}')
          a(href='#{hsv}' download)
            button.btn.btn-outline-primary(type='button') Download!!
      #catanh.tab-pane.fade(role='tabpanel' aria-labelledby='contact-tab')
        img(src="#{cat}", alt="")
        a(href='#{cat}' download)
          button.btn.btn-outline-primary(type='button') Download!!
      #xoayanh.tab-pane.fade(role='tabpanel' aria-labelledby='contact-tab')
        if !xoay
          form(action='/' method='post' enctype="multipart/form-data")
            label(for="goc") Hệ số góc xoay ảnh
            input#stuff(type='text' name='xoay')
            input(type="hidden" name="var" value='#{path}')
            input(type='submit' value="Xoay ảnh")
        else 
          form(action='/' method='post' enctype="multipart/form-data")
            label(for="goc") Hệ số góc xoay ảnh
            input#stuff(type='text' name='xoay')
            input(type="hidden" name="var" value='#{path}')
            input(type='submit' value="Xoay ảnh")
            br
            br
            img(src='#{xoay}')
            a(href='#{xoay}' download)
              button.btn.btn-outline-primary(type='button') Download!!
      #detect.tab-pane.fade(role='tabpanel' aria-labelledby='contact-tab')
        img(src="#{detect}", alt="")
        a(href='#{detect}' download)
          button.btn.btn-outline-primary(type='button') Download!!
  
    


      
